/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *change
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#container{
  width:1335px;
}
#header{
	position:static;
	height:70px;
    padding: 20px 20px ;
    color:#000000;
    background-color: #A68750;
   }
 h1{
 	position:absolute;
 	left:200px;
 }
#user_nav{
  	position:absolute;
  	width:600px;
  	top:10px;
  	right:50px;
	background-color: #A68750;
	font-size: 12px;
	color:#000000;
	}
.iden{
	position:absolute;
	right:0px;
	top:0px;	
}		
#create,#signout{
	color:#FFFFFF;
	text-decoration:none;
}
#create.hover,#signout.hover{
	background-color:#B39768;
}	
#menu{ 
    height:20px;
    padding:5px 5px;
    background-color:#FFCC33;
  }
  nav #home,#new,#view{
  	  position:relative;
      text-decoration:none;
      color:#000000;
      font-family: "Arial black",serif;
      margin-left:150px;
    }
  #home:hover,#new:hover,#view:hover{
      font-size:100%;
      background-color:#B39768;
    }
#foot{
	position:absolute;
	bottom:0px;
	width:1325px;
    height:20px;
    padding: 5px ;
    font-family: arial;
    color:#000000;
    text-align: center;
    background-color: #A68750;
}