// Place all the styles related to the Generators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//generator form CSS  
div#form{
     width: 750px;
     margin-left:auto;
     margin-right:auto;
     h2{
          text-align:center;
     }
     fieldset.primer,fieldset.sample{
          border:2px solid #0000CC;
          border-radius: 20px;
          padding:20px;
          text-align:center;
     }
         
     table.p_gen{
          width:700px;
          border-collapse: collapse;
     }
  
     th,td{
          border:1px solid #000000;
     }
     td.primer{
          padding:10px;
     }
                
     legend{
          color:#FFFFFF;
          background-color: #FF0000;
          border: 1px solid #dcdcdc;
          border-radius: 20px;
          padding: 10px 20px;
          font-size:110% ;
          letter-spacing:0.05em;
          word-spacing:0.15em;
          text-align: left;
      }
}

//geneator index CSS
#view_index{
  width:1185px;
  table.index{
    position:static;
    width:1185px;
    border-collapse: collapse;
  }
        th{
           position:static;
           background-color:#CC0000;
           color:#FFFFFF;
           border:1px solid #000000;
        }
        th.no_col{
                  position:static;
                  width:55px;
                }
        th.sstring_col{
                  position:static;
                  width:90px;
                  text-align:center;
           
                }
        th.rpg_col{
                  position:static;
                  width:270px;
                }
        th.string_col{
                  position:static;
                  width:90px;
                  text-align:center;
                 
                }
        th.gs_col{
                  position:static;
                  width:390px;
                 
                }

           /* tr.index:hover{
              background-color:#0066CC;
            } */
        td{
              position:static;
              width:1185px;
              background-color:#B6FFCF;
              color:#000000;
        }
        td#change{
                  position:static;
                  text-align:center;
                  text-decoration: inline;
                  width:75px;
                  background-color:#FFFFFF;
        }
}
// Form [show] - to generate result binding 
div.result_show{
       text-align:center;
        
        table.result_show{
        text-align: justify;
        margin-left:auto;
        margin-right:auto;
        }
        //margin-left:auto;
       // margin-right:auto;
        
        fieldset.result{
                    width:750px;
                    margin-left:auto;
                    margin-right:auto;
                    border:2px solid #0000CC;
                    border-radius: 20px;
                    padding:20px;
                    text-align:center;
                          
                    legend{
                        margin-left:auto;
                        margin-right:auto;
                        color:#FFFFFF;
                        background-color: #FF0000;
                        border: 1px solid #dcdcdc;
                        border-radius: 20px;
                        padding: 10px 20px;
                        font-size:110% ;
                        letter-spacing:0.05em;
                        word-spacing:0.15em;
                        text-align: left;
                    }
                 }
}

//Generator form button
.Gbutton_class{
  font-size: 18px;
}
